{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>登录</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<body>
    <div class="container d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            Your username and password didn't match. Please try again.
        </div>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <div class="alert alert-warning" role="alert">
                Your account doesn't have access to this page. To proceed, please login with an account that has access.
            </div>
            {% else %}
            <div class="alert alert-info" role="alert">
                Please login to see this page.
            </div>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="row">
                <label for="{{ form.username.id_for_label }}" class="col">用户名</label>
                <div class="col">
                    {{ form.username }}
                </div>
            </div>
            <div class="row">
                <label for="{{ form.password.id_for_label }}" class="col">密码</label>
                <div class="col">
                    {{ form.password }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary">登录</button>
                </div>
            </div>
        </form>

    </div>
</body>
</html>