<!DOCTYPE html>
<html>
<head>
    <style>
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="center">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">注册</button>
        </form>
        <a href="../login/">登录</a>
    </div>
</body>
</html>