{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>中控室监控</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center my-3">
            <h2 id="label">正在请求数据</h2>
            <div>
                <button id="centralACButton" class="btn btn-primary mr-2">切换到中央空调</button>
                <button id="logoutButton" class="btn btn-secondary">退出登录</button>
            </div>
        </div>
        <div id="grid_layout" class="d-flex flex-wrap small"></div>
    </div>


    <script>
        // 这里可以添加你的 JavaScript 代码
        $(document).ready(function() {
            setInterval(requestData, 1000);  // 每秒更新一次
        });

        function requestData() {
            $.ajax({
                url: '/manager/data/',  // 请求数据的 URL
                type: 'GET',
                success: function(response) {
                    $('#label').text('数据请求成功');
                    // 假设服务器返回的数据是一个包含多个房间信息的数组
                    var data = response.data;
                    var html = '';
                    for (var i = 0; i < data.length; i++) {
                        var item = data[i];
                        html += '<div class="sub_window m-2 p-2 border rounded" style="' + getBackgroundColor(item.status) + '">';
                        html += '<p>房间号: ' + item.roomNo_id + '</p>';
                        html += '<p>状态: ' + item.status + '</p>';
                        html += '<p>当前温度: ' + item.current_temperature + '</p>';
                        html += '<p>目标温度: ' + item.target_temperature + '</p>';
                        html += '<p>风速: ' + item.speed + '</p>';
                        html += '</div>';
                    }
                    $('#grid_layout').html(html);
                },
                error: function() {
                    $('#label').text('服务器无响应');
                }
            });
        }

        function getBackgroundColor(status) {
            switch (status) {
                case 'running':
                    return 'background-color: rgba(144, 238, 144, 0.5);';
                case 'ERROR':
                    return 'background-color: rgba(255, 102, 102, 0.5);';
                case 'waiting':
                    return 'background-color: rgba(255, 255, 102, 0.5);';
                case 'stopped':
                    return 'background-color: rgba(150, 150, 150, 0.5);';
                default:
                    return 'background-color: white;';
            }
        }

        $('#logoutButton').click(function() {
            window.location.href = '../logout/';
        });

        $('#centralACButton').click(function() {
            window.location.href = 'centralAC/';
        });
    </script>
</body>
</html>